.card__today {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B6BCBF;
    margin-top: 20px;
    margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
    .card__today {
        margin-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .card__today {
        margin-bottom: 16px;
    }
}