.diagramm__week_day {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B22;
    width: 104ppx;
    padding-right: 57px;
    /* height: 70px; */
}