.diagramm__header {
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    padding-top: 80px;
    margin: 0;
    padding-bottom: 48px;
}

@media screen and (max-width: 768px) {
    .diagramm__header {
        font-size: 22px;
        line-height: 30px;
        padding-top: 40px;
    }
}

@media screen and (max-width: 320px) {
    .diagramm__header {
        padding-top: 24px;
        padding-bottom: 16px;
    }
}
