.git__history {
    display: flex;
    justify-content: space-around;
    padding-bottom: 136px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .git__history {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 320px) {
    .git__history {
        flex-direction: column;
        padding-bottom: 136px;
    }
}