.main__input {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    padding-left: 24px;
    border: transparent;
    border-radius: inherit;
}

@media screen and (max-width: 500px) {
    .main__input {
        padding-left: 16px;
        width: 272px;
        height: 56px;

    }
}


.main__input:active:hover {
    border: none;
}
