.main__instruction {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 64px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .main__instruction {
        padding-top: 16px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 320px) {
    .main__instruction {
        padding-bottom: 64px;
        font-size: 20px;
        line-height: 26px;
    }
}