.swiper-container {
    padding-bottom: 136px;
    width: 100%;
    height: 288px;
}

@media screen and (max-width: 768px) {
    .swiper-container {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 320px) {
    .swiper-container {
        padding-bottom: 136px;
    }
}